
<!DOCTYPE html>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<mat-toolbar class="bg-primary text-white">
  <h1>Login page</h1>
</mat-toolbar>

<body>
  <div id="login" class="">
    <h3 class="text-center text-dark fs-2 pb-0 mb-0">Login form</h3>
    <div class="container  mh-100 mt-5">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
           <img
            class="logo-container w-25 d-block m-auto"
            src="../../../assets/carpenter2.svg"
            alt=""/>
          <div id="login-box" class="col-md-12 mt-2">
            <form id="login-form" class="form" action="" method="post">
              <h3 class="text-center fs-2 fw-bold">Login</h3>
              <div class="form-group">
                <label for="username" style="font-weight: 400">Username:</label
                ><br />
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="password" style="font-weight: 400">Password:</label
                ><br />
                <input
                  type="text"
                  name="password"
                  id="password"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="remember-me" class="text-info"
                  ><span>Remember me</span> <span
                    ><input
                      id="remember-me"
                      name="remember-me"
                      type="checkbox" /></span></label
                ><br />
                <div class="row justify-content-between px-3">
                  <button 
                  (click)="login()" 
                  type="submit" 
                  name="submit" 
                  class="btn btn-info btn-md col-3 text-uppercase" 
                  value="submit">
                  Submit <i class="fa-solid fa-right-to-bracket fa-beat"></i>
                </button>

                <button
                  (click)="goBack()"
                  class="btn btn-info btn-md col-3"
                  value="submit"
                  type="submit"
                  name="submit">
                  Home <i class="fa-solid fa-house fa-bounce"></i>
                </button>

                </div>
                
                <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
