<!DOCTYPE html>
<!-- Edited By Nabil  -->

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<mat-toolbar class="d-flex justify-content-between px-5 align-items-center text-white">
  <h1 class="fs-1">Home Page</h1> 
  <mat-list-item (click)="navigateToLogin()">
    
    <h4 class="rounded-pill px-2 py-1">Log in</h4>

    <span *ngIf="isExpanded" class="menu-item">Login</span>
  </mat-list-item>
</mat-toolbar> 


<div class="bg-image vh-100">
</div>
 
<!-- start About US -->


<div id="about" class="aboutus-section bg-warning bg-opacity-25 vh-100 py-5 ">
  <div class="container-lg pt-5 mt-5">
    <div class="row p-3 d-flex justify-content-between align-items-center">
      <div class="col-md-6 py-3 ">
        <div class="aboutus d-flex align-items-center">
          <div class="">
            <h2 class="aboutus-title">About Us</h2>
            <p class="aboutus-text lead">
              In numerous nations, individuals rely on agencies for skilled services, while elsewhere, tradespeople work independently, directly with clients. Our focus is on this craftsman segment and their community.
            </p>
            <br />
            <p class="aboutus-text lead">
              Before the app, challenges encompassed unstable employment, scarcity of reputable craftsmen, risks of engaging untrained workers, subpar services, exploitative pricing, absence of pre-agreed pricing, and safety concerns, such as employing individuals with criminal records.
            </p>
            <a class="aboutus-more mt-3 mr-5 text-uppercase" href="javascript:void(0)">read more</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="feature container-fluid">
          <div class="row feature-box ">
              <div class="iconset col-lg-2 col-md-3 d-flex border-1 rounded-circle justify-content-center align-items-center">
                <i class="fa-solid fa-gear fa-spin fs-1 "></i>
              </div>
              <div class="feature-content col-lg-10 col-md-9 ">
                <h2 class="fw-bold">Our app provides</h2>
                <ul class="text-muted lead">
                  <li> App swiftly links clients to craftsmen, time-efficient.
                  </li>
                  <li>Increases job opportunities, resulting in stable income for workers.
                  </li>
                </ul>
              </div>
          </div>
          <div class="row feature-box ">
            <div class="iconset col-lg-2 col-md-3 d-flex border-1 rounded-circle justify-content-center align-items-center">
              <i class="fa-solid fa-gear fa-spin fs-1"></i>
            </div>
            <div class="feature-content col-lg-10 col-md-9 ">
              <h2 class="fw-bold">Reliable services</h2>
              <ul class="text-muted lead">
                <li>The competitive environment will reduce costs</li>
                <li>Ratings and reviews will increase the service quality</li>
              </ul>
            </div>
        </div>
        <div class="row feature-box">
          <div class="iconset col-lg-2 col-md-3 d-flex rounded-circle justify-content-center align-items-center ">
            <i class="fa-solid fa-gear fa-spin fs-1"></i>
          </div>
          <div class="feature-content col-lg-10 col-md-9 ">
            <h2 class="fw-bold">Great support</h2>
            <ul class="text-muted lead">
              <li>The app provides great support for the community</li>
            </ul>
          </div>
      </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end About us -->


<!-- start contact -->

<section id="contact" class="contact mb-4 pt-5 container-lg vh-100" (submit)="sendEmail($event)">

  <div class="row title p-3 mb-3 d-flex justify-content-center align-items-center text-center position-relative">
    <h2 class="text-uppercase fw-bolder">Contact</h2>
    <h4 class="text-uppercase position-absolute fw-bolder">Get In Touch</h4>
  </div>

  <p class="text-center w-responsive mx-auto mb-5 lead text-muted">If you have a project or task, big or small, we are ready to give you an offer for it. You can always contact us via our form or give us a call.</p>

  <div class="row p-5 mt-5 border-white border border-1 shadow-lg">

     
      <div class="col-md-7 mb-md-0 mb-5 py-3">
        <h2 class="fs-1 send mt-4">Message Us</h2>
          <form id="form">
         
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">
                    <mdb-form-control class="mb-4">
                      <input mdbInput type="text" id="name" class="form-control" name="user_name"/>
                      <label mdbLabel class="form-label fw-bold" for="name">Name</label>
                    </mdb-form-control>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-12">
                    <mdb-form-control class="mb-4">
                      <input
                        mdbInput
                        type="email"
                        id="email"
                        class="form-control"
                        name="user_email"
                      />
                      <label mdbLabel class="form-label" for="email">Email address</label>
                    </mdb-form-control>
                  </div>
                  <!--Grid column-->

              </div>
                          
              <div class="row">
                  <div class="col-md-12">
                    <mdb-form-control class="mb-4">
                      <input
                        mdbInput
                        type="text"
                        id="subject"
                        class="form-control"
                        name="subject"
                      />
                      <label mdbLabel class="form-label" for="subject">Subject</label>
                    </mdb-form-control>
                  </div>
              </div>
             
              <div class="row">
                  
                  <div class="col-md-12">

                    <mdb-form-control class="mb-4">
                      <textarea
                        mdbInput
                        name="message"
                        class="form-control"
                        id="message"
                        rows="4"
                      ></textarea>
                      <label mdbLabel class="form-label" for="message">Message</label>
                    </mdb-form-control>

                  </div>
              </div>
              

              <div class="row m-2">
                <div class="form-check text-muted ">
                  <input
                    mdbCheckbox
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="copy"
                  />
                  <label class="form-check-label pb-5" for="copy">  I'm not a robot <span class="text-dark fs-4">(Required)</span> </label>
                </div>
              </div>
              <div class="row col">
                <input class="btn btn-primary" type="submit" value="Send" />
              </div>
        </form>
      </div>
      

      
      <div class="col-md-4 offset-1 pt-5 mb-5">
        <div class="">
          <h2 class="send fs-1">Get in Touch</h2>
            <p class="lead mt-md-4">
              <span class="text-uppercase fw-bolder">Don't be shy</span> <br />
              Feel free to get in touch with me. <br />We look forward to hearing from you and helping you with the tasks you need to solve.</p>
        </div>
          <div class="row ">
            <div class="location d-flex justify-content-start align-items-center align-content-center">
              <i class="fa-solid fa-location-dot mb-3 ms-2 me-2 text-primary fs-3"></i>
              <p class="text-muted lead fs-4">329 WASHINGTON ST BOSTON, MA 02108</p>
            </div>
            <div class="location d-flex justify-content-sm-start align-items-center align-content-center">
              <i class="fa-solid fa-mobile-button fs-3 mb-3 ms-2 me-2 text-primary"></i>
              <p class="text-muted fs-3 lead">(+20) 1000-99-43-76</p>
            </div>
            <div class="location d-flex justify-content-sm-start align-items-center align-content-center">
              <i class="fa-solid fa-envelope mb-3 ms-2 me-2 fs-3 text-primary"></i>
              <p class="text-muted fs-3 lead">shakoosh889@gmail.com
              </p>
            </div>
          </div>
          <div class="row mt-4 social-icon justify-content-center">
            <div class="social d-flex ms-0 d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-facebook "></i>
            </div>
            <div class="social d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-instagram "></i>
            </div>
            <div class="social d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-twitter "></i>
            </div>
            <div class="social d-flex justify-content-center align-items-center rounded-circle ">
              <i class="fa-brands fa-linkedin "></i>
            </div>
          </div>
      </div>
      

  </div>

</section>

<!-- end contact -->

<footer class="m-auto bg-dark bg-opacity-50 mt-5 h-auto">
  <div class="container text-center p-2">
    <div class="row text-white">
      <h3 class="">© Copyright <span class="fw-bolder"> DevFolio.</span> All Rights Reserved</h3>
      <h4 class="">Designed by Shakoosh Team</h4>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
